In [1]:
['saif','ali','amad','zoaib','AI']

['saif', 'ali', 'amad', 'zoaib', 'AI']

how to access value from dictinary  
 
#dictname['key name']

In [16]:
data={
    'name':'saif',
    'fname':'arshad',
    'age':'21',
    'qualification':'DAE',
    'slills' :["drawing","painting",'travelling'],
    0:"layya"
}

In [17]:
data['name']

'saif'

In [18]:
data[0]

'layya'

In [12]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    'skills':['ML','derawing','arts'],
     0:"Pakistani"
} 
    
data['age']

21

In [24]:
import pandas as pd

In [26]:
data={
    'name':'saif',
    'fname':'arshad',
    'age':'21',
    'qualification':'DAE',
     }
data1=data 
data1['name']='saaif'
print(data)
print(data1)

{'name': 'saaif', 'fname': 'arshad', 'age': '21', 'qualification': 'DAE'}
{'name': 'saaif', 'fname': 'arshad', 'age': '21', 'qualification': 'DAE'}

In [17]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    'skills':['ML','derawing','arts'],
    'courses':['matric','DAE','Short course'],
}
data

{'name': 'saif',
 'fname': 'arshad',
 'age': 21,
 'qualification': 'DAE',
 'skills': ['ML', 'derawing', 'arts'],
 'courses': ['matric', 'DAE', 'Short course']}

In [18]:
import pandas as pd 
df= pd.DataFrame(data)
df

   name   fname  age qualification    skills       courses
0  saif  arshad   21           DAE        ML        matric
1  saif  arshad   21           DAE  derawing           DAE
2  saif  arshad   21           DAE      arts  Short course

In [20]:
data={}
data['name']='Shahid'
data['fname']="arshad"
data["course"]='PIAIC data science'
data

{'name': 'Shahid', 'fname': 'arshad', 'course': 'PIAIC data science'}

In [29]:
data={}
data['name']='Shahid'
data['fname']="arshad"
data["course"]='PIAIC data science'
data['name']=data['name']+' AI student'
data

{'name': 'Shahid AI student',
 'fname': 'arshad',
 'course': 'PIAIC data science'}

In [25]:
data["course"]

'PIAIC data science'

In [31]:
data={}
data['name']='Shahid'
data['fname']="arshad"
data["course"]='PIAIC data science'
data['name']=data['name']+' AI student'
print(data)
data.clear()
print(data)

{'name': 'Shahid AI student', 'fname': 'arshad', 'course': 'PIAIC data science'}
{}

In [34]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    'skills':['ML','derawing','arts'],
     
} 
data1 = data.copy()
data1['name']='shahid'
print(data)
print(data1)

{'name': 'saif', 'fname': 'arshad', 'age': 21, 'qualification': 'DAE', 'skills': ['ML', 'derawing', 'arts']}
{'name': 'shahid', 'fname': 'arshad', 'age': 21, 'qualification': 'DAE', 'skills': ['ML', 'derawing', 'arts']}

In [2]:
keys = ['id','name','fname','course','timing','adress']
dict.fromkeys(keys)

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'adress': None}

In [3]:
keys = ['id' ,'name','fname']
dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

In [4]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    'skills':['ML','derawing','arts'],
     0:"Pakistani"
} 
    
data.get('name')

'saif'

In [5]:
data.get('Contacts')

In [6]:
data.get('Contacts','not available ')

'not available '

In [10]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    
}

In [11]:
data.items()

dict_items([('name', 'saif'), ('fname', 'arshad'), ('age', 21), ('qualification', 'DAE')])

In [12]:
data.keys()

dict_keys(['name', 'fname', 'age', 'qualification'])

In [13]:
data.values()

dict_values(['saif', 'arshad', 21, 'DAE'])

In [26]:
for v in data.values():
    print(v)

saif
arshad
21
DAE

In [27]:
for k in data.keys():
    print(k)

name
fname
age
qualification

In [34]:
for k in ['name', 'age']:
    print(k, data[k])

name saif
age 21

In [35]:
for i in data.items():
      print(i)

('name', 'saif')
('fname', 'arshad')
('age', 21)
('qualification', 'DAE')

In [36]:
#sequence datatype
a,b=(200,300)
print(a,b)

200 300

In [38]:
for k,v in data.items():
    print(k,v)
    #k,v are the local variables

name saif
fname arshad
age 21
qualification DAE

In [40]:
# two types of variables (globalvarfiable and local variable)
a = 20 #global

def abc():
    a = 50#local
    print(a)
    
    
abc()
print(a)

50
20

In [15]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
     print(num)
    #for loop is used for iteration

1
2
3
4
5
6
7
8
9
10

In [41]:
# non-return function 

a=print('Pakistan')
print(a)

Pakistan
None

In [43]:
# return function
a=len('Pakistan')
print(a)

8

In [44]:
# return function
a=type('Pakistan')
print(a)

<class 'str'>

In [47]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    
} 
    
del data['name']
data

{'fname': 'arshad', 'age': 21, 'qualification': 'DAE'}

In [49]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    
} 
a= del data['name']
print(a)
data

SyntaxError: invalid syntax (<ipython-input-49-3c7070ccb6a2>, line 8)

In [50]:
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    
} 
a= data.pop('name')
print(a)
data

saif

{'fname': 'arshad', 'age': 21, 'qualification': 'DAE'}

In [53]:
a

'saif'

In [82]:
completed_list=[]
data ={
    'name':'saif',
    'fname':'arshad',
    'age':  21,
    'qualification':'DAE',
    
} 
completed_list.append(a)
completed_list.append(b)
a= data.pop('name')
b=data.pop('age')

print(b)
print(data)
print(completed_list)

21
{'fname': 'arshad', 'qualification': 'DAE'}
['saif', 21]

In [83]:
dir (data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']