In [1]:
#Functions 

##return ==>if store output in variable
 

#non return functions ==>if not store output in variable


## default   ==>not required any argument when called 

#required argument  ==> function will not work without it

#optional argument  ==> if we didnot provide it function will also work some default arguments value

# generator function 
#generate value one by one
#always remember old generated value

##lamda function
#one line function
#it has no name
#one time use only

#Recursive function ==>it call in own body

#  Pre defined Function

In [13]:
print("hello")
print(len('hello'))
print(id('hello'))

hello
5
1901834088496

# Return/non Return Functions

In [14]:
a= print('non return function')
print(a)  #non return function

non return function
None

In [15]:
a=id('return function')
print(a)  #return function

1901839341552

In [16]:
a= len("function")
print(a)            #return function

8

# User Defined Function
'''
def function_word(arg1,arg2,,,):
      statement1
      statement2
      
     function_word(arg1,arg2)
'''

In [21]:
def piaic_introduction(): #function declair 
    print('AI')        #statement 1
    print('courses')   #2
    print('\t artificial intelligence') #3
    print('\t blockchain')              #4
piaic_introduction()

AI
courses
	 artificial intelligence
	 blockchain

In [26]:
def piaic_introduction(): #function declair 
    txt="""
    piaic 
    course offers
         AI 
         block chain 
         cloudcomputing
         metaverse
    """
    return txt
print(piaic_introduction()) # return function

    piaic
    course offers
         AI
         block chain
         cloudcomputing
         metaverse

In [28]:
print(piaic_introduction())
print(piaic_introduction())

    piaic
    course offers
         AI
         block chain
         cloudcomputing
         metaverse


    piaic
    course offers
         AI
         block chain
         cloudcomputing
         metaverse

# Required Argument

In [2]:
def addition(num1,num2):
    return num1+num2

print(addition(7,5))
print(addition(6,6))
print(addition(9,9))

12
12
18

In [3]:
print(addition(7))

TypeError: addition() missing 1 required positional argument: 'num2'

# Optional Argument

In [6]:
def addition(num1=0,num2=0):  #default is set as  zero
    return num1+num2 

print(addition())
print(addition(1))
print(addition(2,3))

0
1
5

# required and optional argument

In [35]:
def make_rice(rice,chicken, tomato='1kg'):
    txt = f"""
    boiling{rice}  rice...
    making qorma with{chicken} meat...
    mixing tomato{tomato}...
    rice are ready:)
    """
    return txt
    
a = make_rice('ghulabdevirice','chicken')
print(a)
print(a)
print(a)

    boilingghulabdevirice  rice...
    making qorma withchicken meat...
    mixing tomato1kg...
    rice are ready:)


    boilingghulabdevirice  rice...
    making qorma withchicken meat...
    mixing tomato1kg...
    rice are ready:)


    boilingghulabdevirice  rice...
    making qorma withchicken meat...
    mixing tomato1kg...
    rice are ready:)

In [27]:
print(print('rice'))

rice
None

In [38]:
print(make_rice('banaspati rice','beaf','1kg'))

    boilingbanaspati rice  rice...
    making qorma withbeaf meat...
    mixing tomato1kg...
    rice are ready:)

# optional argument2 unlimited

In [39]:
def sum(num1):
    return num1
sum(7)

7

In [78]:
def  cal(num1,*num):    # *before num make num a tuple
    print(num1,num)
    return num1
print(cal(7,6,3,2,4,5))            # sterrcnum(*num)

7 (6, 3, 2, 4, 5)
7

In [3]:
def my_sum(num1,*num):    
    print(num1,num)
    return num1 + sum(num)
my_sum(7,6,3,2,4,5)

7 (6, 3, 2, 4, 5)

27

In [4]:
def my_sum(num1,num2,*num):    
    print(num1,num2,num)
    return num1 + num2 + sum(num)
my_sum(7,6,3,2,4,5)

7 6 (3, 2, 4, 5)

27

In [5]:
def my_sum(num1,num2,num3,*num):    
    print(num1,num2,num3,num)
    return num1 + num2 + num3+sum(num)
my_sum(7,6,3,2,4,5)

7 6 3 (2, 4, 5)

27

In [7]:
a,b=[23,23]
print(a)
print(b)

23
23

In [8]:
l=[2,7,8,9]
print(l[0],l[1],l[2],l[3])

2 7 8 9

In [9]:
print(*l)       #during call 
# *before iterated datatype = unzip value

2 7 8 9

In [10]:
print(l)

[2, 7, 8, 9]

In [13]:
l=[2,7,8,9]
print(l[0],l[1],l[2],l[3])
print(*l)
print(2,7,8,9)
print(l)

2 7 8 9
2 7 8 9
2 7 8 9
[2, 7, 8, 9]

In [35]:
def my_new_sum(num1,num2,num3,num4):
    return num1+num2+num3+num4

l = [10,20,30,40]
my_new_sum(*l)

100

In [36]:
print(l[0])
print(l[1])

10
20

In [40]:
def my_new_sum(num1,num2,num3,num4):
    return num1+num2+num3+num4

l = [10,2,3,4]
my_new_sum(*l)

19

In [41]:
print(50,l[0])

50 10

In [47]:
print(50,l[0],l[1],l[2],l[3])

50 10 2 3 4

In [48]:
print(50,l[0],l[-2:])

50 10 [3, 4]

In [49]:
print(50,l[0],*l[-2:])

50 10 3 4

In [50]:
print(50,l[0],l[-2:])
print(50,l[0],*l[-2:])

50 10 [3, 4]
50 10 3 4

# calling function with keyword argument

In [56]:
def student_card(rollno,name,fname,course):
    card="""
    Student Card
    Roll Number:{rollno}
    Name:{name}
    Father Name:{fname}
    Course:{course}
    """
    return card
print(student_card('1','shahid','arshad','Ai'))

    Student Card
    Roll Number:{rollno}
    Name:{name}
    Father Name:{fname}
    Course:{course}

In [58]:
def student_card(rollno,name,fname,course):
    card=f"""
    Student Card
    Roll Number:{rollno}
    Name:{name}
    Father Name:{fname}
    Course:{course}
    """
    return card
print(student_card('1','shahid','arshad','Ai'))

    Student Card
    Roll Number:1
    Name:shahid
    Father Name:arshad
    Course:Ai

In [100]:
d1={
    'rollno':23,
    'name':'shahid',
    'fname':'arshad',
    'course':'ai'}
print(student_card(**d1))

    Student Card
    Roll Number:23
    Name:shahid
    Father Name:arshad
    Course:ai

In [62]:

    def student_card(rollno,name,fname,course):
    card=f"""
    Student Card
    Roll Number:{rollno}
    Name:{name}
     Father Name:{fname}
   Course:{course}
    """
    return card
print(student_card(fname='arshad',name='shahid',course='AI',rollno='23'))

    Student Card
    Roll Number:23
    Name:shahid
    Father Name:arshad
    Course:AI

In [76]:
def student_card(rollno,name,fname,course):
    card=f"""
    Student Card
    Roll Number:{rollno}
    Name:{name}
     Father Name:{fname}
   Course:{course}
    """
    return card
print(student_card(fname='arshad',name='shahid',course='AI',rollno='23'))

    Student Card
    Roll Number:23
    Name:shahid
     Father Name:arshad
   Course:AI

In [77]:
l=[1,'shahud','arshad,','ai']
print(student_card(*l))

    Student Card
    Roll Number:1
    Name:shahud
     Father Name:arshad,
   Course:ai

In [79]:
def student_card(rollno,name,fname,course):
    card=f"""
    Student Card
    Roll Number:{rollno}
    Name:{name}
     Father Name:{fname}
   Course:{course}
    """
    return card
print(student_card(fname='arshad',name='shahid',course='AI',rollno='23'))
l=[1,'shahud','arshad,','ai']
print(student_card(*l))      #if pass positional argument with list

    Student Card
    Roll Number:23
    Name:shahid
     Father Name:arshad
   Course:AI


    Student Card
    Roll Number:1
    Name:shahud
     Father Name:arshad,
   Course:ai

In [81]:
def student_card(rollno,name,fname,course):
    card=f"""
    Student Card
    Roll Number:{rollno}
    Name:{name}
     Father Name:{fname}
   Course:{course}
    """
    return card
print(student_card(fname='arshad',name='shahid',course='AI',rollno='23'))
l=[1,'shahud','arshad,','ai']
print(student_card(l[0],l[1],l[2],l[3]))

    Student Card
    Roll Number:23
    Name:shahid
     Father Name:arshad
   Course:AI


    Student Card
    Roll Number:1
    Name:shahud
     Father Name:arshad,
   Course:ai

In [84]:
def student_card(rollno,name,fname,course):
    card=f"""
    Student Card
    Roll Number:{rollno}
    Name:{name}
    Father Name:{fname}
    Course:{course}
    """
    return card
print(student_card('1','shahid','arshad','Ai'))

    Student Card
    Roll Number:1
    Name:shahid
    Father Name:arshad
    Course:Ai

In [97]:
d1 = {"name":"shahid",
     "fname":"arshad",
    "rollno":123,
    "course":'AI'}
print(student_card(**d1))  # if pass positional argument with dictionary = **dictionary

    Student Card
    Roll Number:123
    Name:shahid
    Father Name:arshad
    Course:AI

In [99]:
print(student_card(name="shahid",fname='arshad',rollno='123',course='ai'))

    Student Card
    Roll Number:123
    Name:shahid
    Father Name:arshad
    Course:ai

# create keyword argument unlimited

In [103]:
def fan(num1,num2, **abc):           # **dictionary
    print(num1,num2,abc)
    
fan(7,20,len=20,age=30,course='ai')

7 20 {'len': 20, 'age': 30, 'course': 'ai'}

In [105]:
def a(num1,num2,*l1,**d1):
    print(num1,num2,l1,d1)
    
a(1,2,'e','f','g',a='q',e='3')     #julia programming language

1 2 ('e', 'f', 'g') {'a': 'q', 'e': '3'}

# lambda function

In [106]:
def add(num1,num2):
    return num1+num2
add(2,12)

14

In [108]:
#lambda arg1,arg2: function body
a=lambda num1,num2:num1+num2         #lambda functioin is without name
a(2,12)

14

In [13]:
def add(num1):
    return num1 
a= lambda x:x[1]
a([1,2])

2

In [ ]:
def add(num1):
    return num1 
a= lambda num1:num1
print(a)
print(a(2))
a([1,2])

In [118]:
data=[[1,'z','a'],
     [2,'y','b'],
     [3,'x','c']]

sorted(data, key=lambda x:x[1])  #ascending based on second col

[[3, 'x', 'c'], [2, 'y', 'b'], [1, 'z', 'a']]

In [120]:
data=[[1,'z','a'],
     [2,'y','b'],
     [3,'x','c']]

sorted(data, key=lambda x:x[0])  #ascending

[[1, 'z', 'a'], [2, 'y', 'b'], [3, 'x', 'c']]

In [121]:
data=[[1,'z','a'],
     [2,'y','b'],
     [3,'x','c']]

sorted(data, key=lambda x:x[2], reverse=True)

[[3, 'x', 'c'], [2, 'y', 'b'], [1, 'z', 'a']]

# Generator Function

In [136]:
range(1,11)

range(1, 11)

In [130]:
list(range(1,11))     #list ==>iteration

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [129]:
l1=[1,2,3,4]
l2=['a','g','h']
zip(l1,l2)             #generator function do not run dirrectly ,iteration required to run generator function

In [132]:
list(zip(l1,l2))

[(1, 'a'), (2, 'g'), (3, 'h')]

In [134]:
for x in zip(l1,l2):
    print(x)

(1, 'a')
(2, 'g')
(3, 'h')

In [140]:
def my_gen(s,e):
    for i in range(s,e+1):
        yield i
        
abc=my_gen(1,10)
print(abc)
print(next(abc))
print(next(abc))
print(next(abc))

<generator object my_gen at 0x0000028CF45654A0>
1
2
3

In [141]:
for i in my_gen(1,10):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Recursive Function

In [143]:
def countdown(n):
    print(n)
    if n==0:
        return                                 #Terminate recursion
    else:
        countdown(n-1)
countdown(5)

5
4
3
2
1
0