# list and tuple

*list mutable
*tuple imutable
*methods and attributes
list[index] extracting a single value
list[start:end]

In [9]:
name="shahid";

In [10]:
name[0]

's'

In [11]:
# ->     0        1      2      3       4      
name=["shahid","hamza","ali","hanan","ahmad"]
                                               # <-

#list[index]
#list[start:end]
#[start:end:seq]

In [16]:
name[1]

'hamza'

In [18]:
name[-4]

'hamza'

In [30]:
print(name[2])     #extract value with positive index
print(name[-3])    #extract value with negative index

ali
ali

In [32]:
name=["shahid","hamza","ali","hanan","ahmad"]
print("before",name)
name[0]="Muhammad shahid"  #updated value with index number 
print("after",name)

before ['shahid', 'hamza', 'ali', 'hanan', 'ahmad']
after ['Muhammad shahid', 'hamza', 'ali', 'hanan', 'ahmad']

# List[start:end]

Slicing extract multiple value in a list

extract multiple value from a list(start exclude one minus)

In [36]:
name=["shahid","hamza","ali","hanan","ahmad"]
print(name[1:3])#stat include end exclude
print(name[1:4])

['hamza', 'ali']
['hamza', 'ali', 'hanan']

# what we apply before slicig feature

In [1]:
name=["shahid","hamza","ali","hanan","ahmad"]


i = 0
while i<len(name):
    print(name[i])
    i += 1

shahid
hamza
ali
hanan
ahmad

In [6]:

print("List:",name)

List: ['shahid', 'hamza', 'ali', 'hanan', 'ahmad']

In [10]:
name=["shahid","hamza","ali","hanan","ahmad"]

a=int(input("start no:"))
b=int(input("end no:"))
i= a
while i<b:
    print(name[i])
    i += 1

start no:0
end no:4
shahid
hamza
ali
hanan

In [11]:
numbers=list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
print(numbers[7:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 9, 10, 11, 12, 13, 14, 15, 16]

In [19]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[8:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

print(numbers[:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [21]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

print(numbers[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

print(numbers[::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 7, 10, 13, 16, 19]

In [23]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

print(numbers[::-2])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [30]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
print(numbers[::1])
print(numbers[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

print(numbers[0:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

print(numbers[0:10:-1])
print(numbers[::-1])
print(numbers[-11:-21:-1])
print(numbers[10::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers[16:13:-1]) #17,16,15

[17, 16, 15]

In [48]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers[17:14:-1])

[18, 17, 16]

In [58]:
numbers=[1,2,3,4,5]
print(numbers)
print(numbers[::-1])  # 4,3,2
print(numbers[3:0:-1])
print(numbers[-2:-5:-1])

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 3, 2]
[4, 3, 2]

# List Methods

In [2]:
names=["shahid","hassan","hamza","ahmad","hanan","ayan"]

In [3]:
print(names)

['shahid', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan']

In [4]:
names.append("zohaib")
print(names)

['shahid', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib']

In [5]:
names.append("saif")
print(names)

['shahid', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'saif']

In [8]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
numbers.clear()
print(numbers)

[]

In [77]:
sname=names
print(names)
print(sname)
names[0]="saif ali"
print(names)
print(sname)
names[-1]="qasim"
print(names)

['saif ali', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'saif']
['saif ali', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'saif']
['saif ali', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'saif']
['saif ali', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'saif']
['saif ali', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'qasim']

In [87]:

l1=['1','2','3','4']
l1[0]="ABC"
print(l1)
print(l1.copy())

['ABC', '2', '3', '4']
['ABC', '2', '3', '4']

In [88]:
names

['saif ali', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan', 'zohaib', 'qasim']

In [91]:
l1=['1','2','3','4']
l2=l3=l4=l1.copy() #shallow copy or nick name    
print(l1)
print(l2)
print(l3)
print(l4)

['1', '2', '3', '4']
['1', '2', '3', '4']
['1', '2', '3', '4']
['1', '2', '3', '4']

In [93]:
l1=['1','2','3','4']

l4=l1.copy() #shallow copy or nick name 
l4[0]="abc"
print(l1)
print(l4)

['1', '2', '3', '4']
['abc', '2', '3', '4']

In [4]:
l1=['1','2','3']
l2=['4','5','6']
l1.append(l2)
print(l1)
print(l2)

['1', '2', '3', ['4', '5', '6']]
['4', '5', '6']

In [5]:
l1=['1','2','3']
l2=['4','5','6']
l1.extend(l2)
print(l1)
print(l2)

['1', '2', '3', '4', '5', '6']
['4', '5', '6']

In [10]:
names=["shahid","hassan","hamza","ahmad","hanan","ayan"]
print(names)

['shahid', 'hassan', 'hamza', 'ahmad', 'hanan', 'ayan']

In [16]:
names.index("hassan")

1

In [17]:
names.index('hanan')

4